.venv
django-env
db.sqlite3
# backend/pong/__pycache__
backend/pong/migrations/0*

# backend/chat/__pycache__
backend/chat/migrations/0*

# backend/users/__pycache__
backend/users/migrations/0*


postgres
frontend/.next
frontend/.env
backend/.env
frontend/node_modules
backend/.venv
postgres

.env